<div class="register-page">

  <div class="register-card">

    <h2>Create Account</h2>
    <p>Register to access HealthCare System</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <input type="text" formControlName="fullName" placeholder="Full Name">

      <div class="error" *ngIf="submitted() && f['fullName'].errors">
        <small *ngIf="f['fullName'].errors?.['required']">Full name is required</small>
        <small *ngIf="f['fullName'].errors?.['maxlength']">Max 100 characters</small>
        <small *ngIf="f['fullName'].errors?.['pattern']">Only alphabets allowed</small>
      </div>

      <input type="date" formControlName="dateOfBirth">

      <div class="error" *ngIf="submitted() && f['dateOfBirth'].errors">
        <small>Date of birth is required</small>
      </div>

      <select formControlName="gender">
        <option value="">Select Gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>

      <div class="error" *ngIf="submitted() && f['gender'].errors">
        <small>Gender must be Male, Female, or Other</small>
      </div>

      <input type="text" formControlName="phoneNumber" placeholder="Phone Number">

      <div class="error" *ngIf="submitted() && f['phoneNumber'].errors">
        <small>Enter valid 10-digit number starting 6-9</small>
      </div>

      <input type="email" formControlName="email" placeholder="Email">

      <div class="error" *ngIf="submitted() && f['email'].errors">
        <small>Enter valid email</small>
      </div>

      <input type="password" formControlName="password" placeholder="Password">

      <div class="error" *ngIf="submitted() && f['password'].errors">
        <small *ngIf="f['password'].errors?.['required']">Password is required</small>
        <small *ngIf="f['password'].errors?.['minlength']">Min 8 characters</small>
        <small *ngIf="f['password'].errors?.['pattern']">
          Must contain uppercase, lowercase, number & special char
        </small>
      </div>

      <input type="text" formControlName="insuranceId" placeholder="Insurance ID (optional)">

      <div class="error" *ngIf="submitted() && f['insuranceId'].errors">
        <small>Only alphanumeric allowed</small>
      </div>

      <!-- Error message -->
      <div class="error" *ngIf="errorMessage()">
        {{ errorMessage() }}
      </div>

      <!--  Button -->
      <button type="submit">
        {{ loading() ? 'Registering...' : 'Register' }}
      </button>

    </form>
  </div>

  <!-- Success dialogue -->
  <div class="dialog" *ngIf="showSuccessDialog()">
    <div class="dialog-box">
      <h3>Registration Successful 🎉</h3>
      <button (click)="goToLogin()">Go to Login</button>
    </div>
  </div>

</div>
