<div class="form-card">
  <h1>Book Appointment</h1>

  <form (ngSubmit)="bookAppointment()">
    <div class="form-group">
      <label>Select Date</label>
      <input type="date"
             name="selectedDate"
             [min]="minDate"
             [(ngModel)]="selectedDate"
             (change)="onDateOrSpecialisationChange()">
    </div>

    <div class="form-group">
      <label>Specialisation</label>
      <select name="selectedSpecialisation"
              [(ngModel)]="selectedSpecialisation"
              (change)="onDateOrSpecialisationChange()">

        <option value="">-- Select Specialisation --</option>

        <option *ngFor="let item of specialisations" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Select Doctor</label>
      <select name="selectedDoctorId"
              [(ngModel)]="selectedDoctorId"
              (change)="onDoctorChange()">

        <option [ngValue]="null">-- Select Doctor --</option>

        <option *ngFor="let doctor of doctorService.availableDoctors()"
                [ngValue]="doctor.doctorId">
          {{ doctor.fullName }}
        </option>
      </select>

      <small *ngIf="selectedDate && selectedSpecialisation && doctorService.availableDoctors().length === 0">
        No doctors available with free time slots.
      </small>
    </div>

    <div class="form-group">
      <label>Time Slot</label>
      <select name="selectedTimeSlot"
              [(ngModel)]="selectedTimeSlot">

        <option value="">-- Select Time Slot --</option>

        <option *ngFor="let slot of doctorService.availableSlots()"
                [value]="slot">
          {{ slot }}
        </option>
      </select>

      <small *ngIf="selectedDoctorId && doctorService.availableSlots().length === 0">
        No free slots available for this doctor.
      </small>
    </div>

    <button type="submit">Book Appointment</button>
  </form>
</div>
