.git/
.gitignore
.gitattributes
.vs/
.vscode/
bin/
obj/
node_modules/
HealthCare.Portal/node_modules/
HealthCare.Portal/.angular/
tools/
TestResults/
.sonarqube/
.DS_Store
Thumbs.db
*.md
.env
.env.local
*/.env
*/.env.local
