# Ignore Visual Studio workspace files and build artifacts
.vs/
**/bin/
**/obj/
**/.sonarqube/
# Optional project-specific ignores
*.user
*.suo
*.userosscache
*.sln.docstates

*.lscache

# Test coverage reports
coverage.xml

# .NET tool configuration
dotnet-tools.json
