option_settings:
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: "Production"
    ConnectionStrings__Default: "Server=172.31.12.74,1433;Database=HealthCareDb;User Id=sa;Password=CloudBois@69;TrustServerCertificate=True;Encrypt=False;Connect Timeout=30"
    RabbitMq__Host: "172.31.12.74"
    RabbitMq__Username: "guest"
    RabbitMq__Password: "guest"
    Jwt__Key: "f988001702c43ab3773dca763ecbfd77fe83daa12291937a8166131f67a93b1c"
    Jwt__Issuer: "HealthCare"
    Jwt__Audience: "HealthCare"
    Jwt__AccessTokenExpirationMinutes: "15"
    SeedData__AdminEmail: "admin@healthcare.com"
    SeedData__AdminPassword: "Admin@123"
