<div class="page">

  <div class="container">

    <h2><i class="bi bi-file-medical"></i> My Health Records</h2>

    <!-- Loading -->
    <div *ngIf="loading()" class="state loading">
      <i class="bi bi-hourglass-split"></i>
      <p>Loading health records...</p>
    </div>

    <!-- Error -->
    <div *ngIf="error()" class="state error">
      <i class="bi bi-exclamation-circle"></i>
      <p>{{ error() }}</p>
    </div>

    <!-- No Records -->
    <div *ngIf="!loading() && healthRecords().length === 0" class="state empty">
      <i class="bi bi-folder-x"></i>
      <p>No health records available</p>
    </div>

    <!-- Records -->
    <div class="grid"
         *ngIf="!loading() && healthRecords().length > 0">

      <div class="record-card"
           *ngFor="let record of healthRecords()">

        <div class="card-header">
          <i class="bi bi-calendar-event"></i>
          <span>{{ record.visitDate | date:'dd MMM yyyy' }}</span>
        </div>

        <div class="card-body">

          <div class="item">
            <span class="field-title">
              <i class="bi bi-activity"></i> Diagnosis
            </span>
            <p>{{ record.diagnosis }}</p>
          </div>

          <div class="item">
            <span class="field-title">
              <i class="bi bi-capsule"></i> Prescription
            </span>
            <p>{{ record.prescription }}</p>
          </div>

          <div class="item">
            <span class="field-title">
              <i class="bi bi-sticky"></i> Notes
            </span>
            <p>{{ record.notes || 'No Notes' }}</p>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
